/*single font & font-family*/
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: wheat;
    color:steelblue;
}

#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
