/*single font & font-family*/
* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  background-color: wheat;
  color: steelblue;
  border: 2px solid steelblue;
}

h1 {
  font-size: 40px;

}

#nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin: 5px;
}

a {
  display: inline;
  padding: 8px;
  font-size: 20px;
}

#pic {
  width: 200px;
}